.header {
  background-image: var(--gradient-header-main-page);
  border-radius: 0 0 0 100px;
}

.headerContainer{
  background-image: url('/images/bg-pattern-intro-desktop.svg');
  background-repeat: no-repeat;
  background-size: 220.5%;
  background-position-x: 25.3%;
  background-position-y: 52.16%;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  height: 80vh;
}

.headerNavbar {
  display: flex;
  gap: 3rem;
}

.navbar > ul {
  color: var(--color-white);
  display: flex;
}

.headerButtonAuth {
  margin-left: auto;
}

.headerButtonAuth > button:first-child {
  background: transparent;
  color: var(--color-white);
}

.headerButtonAuth > button {
  
  color: var(--color-light-red);
  border-radius: 100vh;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.headerText {
  text-align: center;
  margin: auto 0;
}

.headerText > h1 {
  color: var(--color-white);
  font-size: 4.75rem;
  font-weight: var(--font-weight-semibold);
}

.headerText > h2 {
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: var(--font-weight-normal);

}
