/* Reset CSS - Remove default browser styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* global.css */
/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
  /* Primary Colors */
  --color-light-red: hsl(356, 100%, 66%);
  --color-very-light-red: hsl(355, 100%, 74%);
  --color-very-dark-blue: hsl(208, 49%, 24%);
  
  /* Neutral Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-grayish-blue: hsl(240, 2%, 79%);
  --color-very-dark-grayish-blue: hsl(207, 13%, 34%);
  --color-very-dark-black-blue: hsl(240, 10%, 16%);
  
  /* Gradient Colors */
  --gradient-intro-start: hsl(13, 100%, 72%);
  --gradient-intro-end: hsl(353, 100%, 62%);
  --gradient-body-start: hsl(237, 17%, 21%);
  --gradient-body-end: hsl(237, 23%, 32%);
  --gradient-header-main-page: linear-gradient(290deg, var(--gradient-intro-end) 0%, var(--color-light-red) 40%, var(--gradient-intro-start) 100%);
  
  /* Typography */
  --font-body-size: 16px;
  --font-overpass: 'Overpass', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
  
  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/* Layout */

body {
  font-family: var(--font-overpass);
  font-size: var(--font-body-size);
  background: var(--color-white);
}

h1, h2, h3, h4, h5, h6{
  color: var(--color-very-dark-blue);
}

p {
  color: var(--color-very-dark-grayish-blue);
}

.wrapper {
  padding: 0 10rem;
}

/* Responsive Design */
@media (max-width: 375px) {
  body {
      font-size: 14px;
  }
}

@media (min-width: 1440px) {
  body {
      font-size: 18px;
  }
}

